* {
    font-family: Roboto, sans-serif;
    color: #19345E;
}
td{
    color: #19345E !important;
    text-align: left !important;
    vertical-align: center;
    padding: 0px !important;
}

.label{
    width: 25%;
}
.tabel{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
button{
    background-color: #F47522 !important; 
    color: #ffff !important;
}

.line{
    border-bottom: 1px solid #CCD7EB !important;
    height: 2px ;
}

#message{
    font-style: italic;
}

.card{
    padding: 50px;
    margin: auto;
    margin-top: 80px;
}

footer{
    margin-top: -70px;
}