body {
    background-image: url("assets/img/bg-img.png");
    background-size: cover;
}
* {
    font-family: Roboto, sans-serif;
}

/* navigation */
.nav-link{
    margin-left: 30px;
    font-weight: 600;
    color: #19345E;
}
.nav-link:hover {
    color: #F47522 !important;
}
.active{
    color: #F47522 !important;
}

/* content */
/* .container-fluid{
    margin-left:50px;
    margin-right:50px;
} */


.btn-primary{
    background-color: #F47522; 
    border-color: #F47522;
    color: white;
    margin-top: 2px;
}
.btn-primary:hover{
    background-color: #dd5b05;
    border-color: #dd5b05;
}

.rounded-circle{   
    width: 350px; 
    height: 350px !important;
    margin-top: 5px;
}

#bio{
    color: #19345E;
    padding-top: 39px;
}

h1 {
    font-size: 85px;
    font-weight: 600;
}
.short-text{
    font-weight: 600; 
    font-size: 35px;
}
/* .col-main {
    flex: 1;  
  }  
  
.col-complementary {
    flex: 1;  
}
   */
@media (max-width: 900px) {
    #bio{
        font-size: 0.45em;
        text-align: center;
    }
}
@media (min-width: 576px) {
    #bio{
        font-size: 0.6em;
    }
}

@media (min-width: 992px) {
	#bio {
		font-size: 1em;
	}
}

@media (min-width: 1200px) {
	#bio {
		font-size: 1.2em;
	}
}