* {
    font-family: Roboto, sans-serif;
}
.btn-primary {
    background-color: #F47522 !important;
    border-color: #F47522;
    color: white;
}

#img-banner{
    background-image: url("assets/img/charles-rRWiVQzLm7k-unsplash.jpg");
    box-shadow: inset 0 0 0 1000px rgba(11, 11, 111, 0.50);
    background-size: cover;
}

#logo-alta{
    top: 50;
}

#floatingTextarea {
    height: 112px;
}

h2 {
    font-size: 28px;
    color: #19345E;
}
sup {
    font-size: large;
    font-weight: 600;
    color: red;
}

.center{
    display: block;
    margin: auto;
    top: 50%;
    transform: translate(30%, -50%);
}

.form-label {
    font-size: 20px;
    color: #19345E;
    margin-bottom: 1px;
}
.form-control{
    border: 2px solid #f0f0f0;
}

input.form-control.input.error{
    border: 2px solid red;
}
input.form-control{
    padding: 2px 2px;
    line-height: 28px;
}

select.form-select{
    padding: 2px 2px;
    line-height: 28px;
    font-size: 16px;
}

input::placeholder{
    font-size: 14px;
}

.form-control.success input {
	border-color: #2ecc71 !important;
}

.form-control.error input {
	border-color: #e74c3c !important;
}


@media (max-width: 800px) {
	#img-banner {
		height: 100%;
	}
	#logo-alta{
		width: 40%;
	}
}