@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
.card-news{
    padding: 0;
    height: min-content;
}
.card-text {
    font-size: .9rem;
    padding: 0.4rem 1.9rem;
    color: gray;
    text-align: justify;
}

.overflow {
    overflow: hidden;
}
