#logo-alta{
    width: 45vh;
}

.side-images{
    background-image: url('../assets/charles-rRWiVQzLm7k-unsplash.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.overlay{
    background: rgba(11, 11, 111, 0.50);
    z-index: 2;
}
