.navbar-expand-lg{
    background-color: #BFA8B8;
}

.nav-item{
    font-weight: 500;
    padding: 0px 20px;
    margin:5px;
}

.nav-link{
    color: wheat !important;
}

.nav-link:active, .nav-item:active{
    color: rgb(43, 43, 43) !important;
}
.nav-item:hover, .nav-link:hover{
    background-color: white;
    border-radius: 2rem;
    border-color: white;
    color: rgb(214, 99, 57) !important;
}
.active{
    color: rgb(63, 63, 63) !important;
}